*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper{
    margin: 150px;
    margin-top: 50px;
    width: 70%;
}

.about{
    max-width: 320px;
    float: right;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: 50px;

}

.text-box h2{
    font-size: 25px;
    color: white;
    margin-top: 50px;
}

.contenedor{
    background-image: url(./assets/preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(80%);
}

.container-img{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}

.container-img .box-img figure{
    width: 100%;
    height: 100%;
}

.container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: blur(2px);
}

.container-img .box-img img:hover{
    filter: brightness(100%);
}

.container-img .box-img:nth-child(1){
    grid-column-start: span 2;
}

.container-img .box-img:nth-child(4){
    grid-row-start: span 2;
}

.padre{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    border-radius: 25px;
    background-color: #fff;
}

.slide-content{
    margin: 0 40px;
    background-color: red;
    overflow: hidden;
    border-radius: 25px;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    background-color: #ccc;
    padding: 40px 0;
}

.image-content, 
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(./assets/IMAGE\ BACKGROUND\ CARD\ TEAM\ \ \(1\).jpg.jpg);
    border-radius: 25px 25px 0 25px;

}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #265DF2;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border-color: 4px solid #4070F4;
}

.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #ecab0f;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    background: #fff;
    color: #ecab0f;
    border-color: 2px solid #ecab0f;
}

.swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover{
    color: #4070F4;
}


.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}

.link:hover{
    color: #ecab0f;
    transition: 0.3s ease;
    border-bottom: 2px solid #ecab0f;
}

@media screen and (max-width:800px) {
    .container-img{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }

    .container-img .box-img:nth-child(1){
        grid-column-start: span 1;
    }
}

@media screen and (max-width:500px) {
    .container-img{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .container-img .box-img img{
        height: 200px;
    }
}